{% extends 'base.html.twig' %}

{% block body %}
    
    <h1>Transactions list (Screen 2)</h1>
    <div class="form-group">
        <div class="input-group">
            <select type="text" class="form-control" id="monthFilter">
                <option value=''>--Select Month--</option>
                <option value='1'>Janaury</option>
                <option value='2'>February</option>
                <option value='3'>March</option>
                <option value='4'>April</option>
                <option value='5'>May</option>
                <option value='6'>June</option>
                <option value='7'>July</option>
                <option value='8'>August</option>
                <option value='9'>September</option>
                <option value='10'>October</option>
                <option value='11'>November</option>
                <option value='12'>December</option>
            </select>
        </div>
    </div>
    <div id="transactionsContainer" class="table-responsive">
    
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var Screen2 = {
            init: function () {
                this.$monthFilter = "#monthFilter";
                this.$transactionsContainer = "#transactionsContainer";
                this.bindMonthChange();
                this.showLoader();
                this.initToCurrentMonth();
            },
            initToCurrentMonth: function () {
                var d = new Date(),
                    currentMonth = d.getMonth() + 1;
                console.log(currentMonth);
                this.getAndRenderTransaction(currentMonth);
                $(this.$monthFilter).val(currentMonth);
            },
            bindMonthChange: function () {
                that = this;
                $(this.$monthFilter).on('change', function (event) {
                    that.showLoader();
                    that.getAndRenderTransaction($(this).val());
                });
            },
            bindPagination: function () {
                that = this;
                $('.page-link').on('click', function (event) {
                    event.preventDefault();
                    that.showLoader();
                    that.getAndRenderTransaction($(that.$monthFilter).val(), $(this).data("page"));
                })
            },
            getAndRenderTransaction: function ($month, page = 1) {
                $.get("{{ path('api_index') }}", {
                    'month': $month,
                    'page': page,
                }, function (html) {
                    $(Screen2.$transactionsContainer).html(html);
                }).always(function () {
                    Screen2.closeLoader();
                    Screen2.bindPagination();
                });

            },
            showLoader: function () {
                $("#loadMe").modal({
                    backdrop: "static",
                    keyboard: false,
                    show: true
                });
            },
            closeLoader: function () {
                setTimeout(function () {
                    $("#loadMe").modal("hide");
                }, 1000);
            }
        };
        Screen2.init();
    
    </script>
{% endblock %}
